@import "tailwindcss";
.primary-bg {
  background-color: #0071dc;
  color: #fff;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
